/* Write here your game frontend styles */

.gamesButtons {
    display: flex;
    flex-direction: column;
}

.gameField {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background-color: var(--background);
    padding: 4px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.sapperRow {
    height: 22px;
    display: flex;
    flex-wrap: nowrap;
}

.sapperBtn {
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: 0 0 0 1px black inset;
    border-radius: 2px;
    background-color: rgb(211, 208, 208);
    margin: 1px;
    line-height: 12px;
    font-size: 12px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: black;
}

.sapperBtn.sapperBtnClosed:hover {
    background-color: rgb(178, 177, 177);
}

.sapperBtn.sapperBtnClosed:active {
    background-color: rgb(130, 130, 130);
}

.sapperBtnOpened {
    background-color: transparent;
    box-shadow: none;
}

.sapperBtnBomb {
    color: white;
    background-color: black;
}

.sapperField {
    padding: 2px;
    border-radius: 2px;
    background-color: var(--background);
    border: 1px solid var(--btn-border-color);
}

.closeBtn {
    display: block;
    width: 100%;
    max-width: none;
    text-align: center;
}

.tronControls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4px 33%;
}

.tronBtn {
    width: 100%;
    height: 100%;
    min-height: 40px;
    border: none;
    box-shadow: 0 0 0 1px black inset;
    border-radius: 2px;
    background-color: rgb(211, 208, 208);
    margin: 1px;
    line-height: 12px;
    font-size: 12px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.tronLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-top: -50%;
}
.tronUp {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: auto;
    margin-right: auto;
}
.tronRight {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: auto;
    margin-top: -50%;
}
.tronDown {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
}

.tronField {
    background-color: var(--background);
    border: 1px solid var(--btn-border-color);
}
