* {
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}

.logo {
    position: fixed;
    background-color: var(--background);
    font-size: 32px;
    padding: 8px;
    border-radius: 4px;
    color: var(--logo-color);
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    transition: transform 1s ease;
    z-index: 10;
}

.logo img {
    height: 32px;
    margin-bottom: -6px;
    margin-right: 4px;
}

.canvasParent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.canvas {
    transform-origin: 0% 0%;
    touch-action: none;
    background-color: var(--canvas-color);
    background-image: repeating-linear-gradient(to bottom, rgba(0,0,0,0), rgba(100, 100, 100, 0) calc(5% - 1px),rgba(100, 100, 100, 0.3) calc(5% - 1px), rgba(100, 100, 100, 0.3) 5%),
        repeating-linear-gradient(to right, rgba(0,0,0,0), rgba(100, 100, 100, 0) calc(2.5% - 1px),rgba(100, 100, 100, 0.3) calc(2.5% - 1px), rgba(100, 100, 100, 0.3) 2.5%);
}
.pointer {
    cursor: pointer;
}
.rect, .row, .line {
    cursor: crosshair;
}
.text, .sticker {
    cursor: text;
}

.pseudoControls {
    position: fixed;
    height: 100vh;
    width: 8px;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 4px 0 8px 0 rgba(100, 100, 100, 0.3);
}
.controls {
    position: fixed;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 4px 4px 4px 0 rgba(100, 100, 100, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 4px 4px 4px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.controls::before,
.controls::after {
    content: '';
    border-radius: 32px;
    border: 8px solid white;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -4px;
}
.controls::before {
    transform: rotate(-45deg);
    bottom: calc(100% - 4px);
}
.controls::after {
    transform: rotate(45deg);
    top: calc(100% - 4px);
}

.controls label {
    transition: 0.3s;
    cursor: pointer;
}
.controls label:hover {
    transform: scale(1.1);
}

.typeControls {
    display: flex;
    flex-direction: column;
}

.typeControls div {
    padding: 4px;
    height: 32px;
    margin: 4px 0;
}

.colorControls div {
    margin: 4px;
}

.typeControls input,
.colorControls input {
    display: none;
}

.typeControls input:checked ~ div {
    background-color:rgba(220, 220, 220, 1);
    border-radius: 4px;
}

.colorControls {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 8px;
    margin-top: 4px;
}

.colorControls div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.colorControls .customColorIndicator {
    border: 4px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.customColorField {
    margin-top: -32px;
    opacity: 0;
}

.colorControls input[value="#171717"] ~ div {
    background-color: #171717;
}
.colorControls input[value="#FF4040"] ~ div {
    background-color: #FF4040;
}
.colorControls input[value="#67E667"] ~ div {
    background-color: #67E667;
}
.colorControls input[value="#4F4FD9"] ~ div {
    background-color: #4F4FD9;
}

.hidden {
    display: none;
}
.fakeInput {
    position: absolute;
    border: 0;
    padding: 0;
    resize: none;
    overflow: hidden;
    transform-origin: 0% 0%;
}
.users {
    position: fixed;
    top: 8px;
    right: 8px;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: var(--background);
    padding: 4px 8px;
    align-items: end;
}
.usersList {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: end;
    pointer-events: none;
    padding: 0;
    margin: 4px 0 8px;
    opacity: 0.7;
}
.user {
    white-space: nowrap;
    margin: 0;
    display: flex;
    align-items: center;
}

.user::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 4px;
    display: block;
    transition: ease-in-out color 0.3s;
}
.ownName {
    font-weight: bold;
}
.admin::after {
    border-radius: 2px;
}
.online::after {
    background-color: var(--online);
}
.offline::after {
    background-color: var(--offline);
}

.userBtn {
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-background-color);
    border-radius: 4px;
    padding: 4px;
    margin: 4px 0;
    width: 100%;
    text-align: right;
    cursor: pointer;
}


.userBtn:hover {
    background-color: var(--btn-background-color-hover);
}

.timer {
    position: fixed;
    top: 8px;
    left: 16px;
    font-weight: 32px;
    border-radius: 4px;
    background-color: var(--background);
    padding: 4px;
}

.timerAlert {
    animation: alert 1s 3;
}

@keyframes alert {
    0% {
        background-color: var(--background);
        transform: translate(5px, 5px);
    }
    50% {
        background-color: var(--background);
        transform: translate(5px, 5px);
    }
    50% {
        background-color: var(--background-alert);
        transform: translate(-5px, -5px);
    }
    100% {
        background-color: var(--background-alert);
        transform: translate(-5px, -5px);
    }
    100% {
        background-color: var(--background);
        transform: translate(5px, 5px);
    }
}

.contextMenu {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 0 rgba(100, 100, 100, 0.3);
    list-style: none;
    padding: 0;
}

.contextMenu li {
    padding: 8px;
    cursor: pointer;
    margin: 0;
}
.contextMenu li:hover {
    background-color: var(--context-menu-background-color-hover);
}

@media (max-width: 450px) {
    .logo {
        top: auto;
        left: auto;
        bottom: 4px;
        right: 4px;
        transform: none;
    }

    .logo img {
        margin-right: 0;
    }

    .logo span {
        display: none;
    }
    
    .users {
        width: 32px;
        height: 32px;
        overflow: hidden;
    }

    .users::before {
        content: '🎛️';
        margin: -1px -3px 2px;
    }

    .users:hover {
        width: auto;
        height: auto;
        overflow: visible;
    }

    .users:hover::before {
        display: none;
    }
}
