.fakeInput {
    font-family: Tahoma, sans-serif;
    position: absolute;
    border: 0;
    padding: 0;
    resize: none;
    overflow: hidden;
    transform-origin: 0% 0%;
    font-size: 32px;
    line-height: 40px;
}
