.gamesButtons {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-color);
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
    align-self: stretch;
}

.gamesButtons::before {
    content: 'Games';
    font-size: 12px;
    margin-top: -14px;
    background-color: var(--background);
    align-self: start;
    padding: 0 4px;
}

.gameField {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background-color: var(--background);
    padding: 4px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.userBtn.closeBtn {
    display: block;
    width: 100%;
    max-width: none;
    text-align: center;
}

.score {
    margin: 4px;
    padding: 0;
}
.score li {
    list-style: none;
    padding: 0;
}
