* {
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    display: block;
}

.hidden {
    display: none !important;
}

.logo {
    position: fixed;
    background-color: var(--background);
    font-size: 32px;
    padding: 8px;
    border-radius: 4px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-decoration: none;
    display: flex;
}

.logo span {
    font-family: 'Courier New', Courier, monospace;
    color: var(--logo-color);
    letter-spacing: 5px;
}

.logo img {
    height: 32px;
    margin-right: 4px;
}

.canvasParent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.canvas {
    transform-origin: 0% 0%;
    touch-action: none;
    background-color: var(--canvas-color);
    background-image: repeating-linear-gradient(to bottom, rgba(0,0,0,0), rgba(100, 100, 100, 0) calc(5% - 1px),rgba(100, 100, 100, 0.3) calc(5% - 1px), rgba(100, 100, 100, 0.3) 5%),
        repeating-linear-gradient(to right, rgba(0,0,0,0), rgba(100, 100, 100, 0) calc(2.5% - 1px),rgba(100, 100, 100, 0.3) calc(2.5% - 1px), rgba(100, 100, 100, 0.3) 2.5%);
}
.pointer {
    cursor: pointer;
}
.rect, .row, .line {
    cursor: crosshair;
}
.text, .sticker {
    cursor: text;
}

.userBtn {
    border: none;
    color: black;
    background-color: var(--btn-background-color);
    border-radius: 4px;
    padding: 4px;
    margin: 4px 0;
    width: 100%;
    text-align: right;
    cursor: pointer;
    letter-spacing: 0.4px;
}

.userBtn:hover {
    background-color: var(--btn-background-color-hover);
}

@media (max-width: 450px) {
    .logo {
        top: auto;
        left: auto;
        bottom: 4px;
        right: 4px;
        transform: none;
    }

    .logo img {
        margin-right: 0;
    }

    .logo span {
        display: none;
    }
}
