<!DOCTYPE html>
<html>
    <head>
        <title>Nemiro</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="/static/favicon.ico">
        <link rel="manifest" href="/static/manifest.json">
        <script src="/static/reg-worker.js"></script>
        <meta property="og:title" content="Online dashboard Nemiro" />
        <meta property="og:description" content="Retro dashboard for your team with timer and online game" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://nemiro.herokuapp.com/" />
        <meta property="og:image" content="https://nemiro.herokuapp.com/static/nemiro-logo-n.png" />
        <link rel="stylesheet" href="/static/tokens.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <header>
            <a class="logo" title="To main" href="/">
                <img src="/static/nemiro-logo-n.svg" alt="N" /><span>EMIRO</span>
            </a>
        </header>
        <main>
            404
        </main>
        <footer>

        </footer>
    </body>
</html>